/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #219ebc;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

a {
  color: #fb8500;
}
/* :root {
    --darkblue #023047
    --midblue #219ebc
    --lightblue #8ecae6
    --yellow #ffb703
    --orange #fb8500
} */

/*Navigation Bar Styling*/

.container {
  padding: 0;
}

#mainNav {
  position: fixed;
  width: 100%;
  background-color: #023047;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 200;
  z-index: 10;
}

#mainNav .navbar-brand {
  color: #fb8500;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
  letter-spacing: 1.5px;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: white;
}

#mainNav .navbar-nav > li > a {
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #fb8500;
  padding: 0 30px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: transparent;
  color: black;
}

/*Hero*/
.masthead {
  position: relative;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  background-image: url(../Images/Background\ .png);
}
.header-content {
  max-width: 500px;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center; 
}
.device-container {
    max-width: 325px;
    padding-top: 75px;
    margin-right: auto;
  }
.rounded circle img {
    position: relative;
  }
header {
  font-size: 40px;
  font-weight: 200px;
  color: #8ecae6;
}
blockquote {
   font-size: 30px;
}
footer {
    font-size: 30px;
}
blockquote::before {
    content: open-quote;
  }
  blockquote::after {
    content: close-quote;
  }
  blockquote {
    quotes: "“" "”" "‘" "’";
  }
button {
    position: relative;
    left: 80px;
}

/*Work-Grid*/
.cardContainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .card {
    margin: 0 auto;
  }  

